body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

#editorjs {
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  padding: 1rem;
}

#output {
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
  padding: 1rem;
  background: rgb(30, 30, 30);
  color: rgb(212, 212, 212);
}

#output code {
  display: block;
  white-space: pre;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  font-size: 14px;
  max-width: 650px;
  margin: 0 auto;
}
